<html>
<head>
	<title>ACM @ UNO</title>
   <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
	<body>
      <div class = "top_menu">
         <div class = "container">
            <ul class = "pull-left">
               <li><a href="#">About</a></li>
            </ul>
            <ul class = "pull-right">
               <li><a href="/members">Member Sign In</a></li>
               <li><a href="#">Become a Member</a></li>
            </ul>
         </div>
      </div>
      <div class="jumbotron">
         <div class="container">
		      <h1>The Association for Computing Machinery at the University of New Orleans</h1>
		      <img src="/img/UNO.png" alt="UNO" >
         </div>
      </div>
	</body>
</html>
