<html>
<head>
   <title>ACM @ UNO</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react-dom.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.6.15/browser.js"></script>
   <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
   <body>
      <div id="content"></div>
      <div class="jumbotron">
         <video class="jumbotron-video" autoplay="autoplay" muted="muted" loop="loop">
            <source src="/video/acm_video.mp4" type="video/mp4">
         </video>        
         <div class="jumbotron-text">
            <h1>ACM @ UNO</h1>
            <p>The Association for Computing Machinery at the University of New Orleans</p>
         </div>
      </div>
      <div class="container-fluid">
         <div class="row">
            <div class="col-sm-6">
               <h2>About ACM</h2>
               <h4>ACM is...</h4>
               <p></p>
            </div>
            <div class="col-sm-6">
               <img src="/img/UNO.png" alt="UNO" />
            </div>
         </div>
      </div>
      <div class="container-fluid text-center" id="groups">
         <h2>Special Interest Groups</h2>
         <h4>Find your passion in a special interest group:</h4>
         <div class="row">
            <div class="col-sm-4">
               <span class="glyphicon glyphicon-tower group-icon"></span>
               <h3>Game Development</h3>
               <p>Yadda yadda yadda yadda Yadda yadda yadda yadda Yadda yadda yadda yadda Yadda yadda yadda yadda</p>
            </div>
            <div class="col-sm-4">
               <span class="glyphicon glyphicon-link group-icon"></span>
               <h3>Web Development</h3>
               <p>Yadda yadda yadda yadda Yadda yadda yadda yadda Yadda yadda yadda yadda Yadda yadda yadda yadda</p>
            </div>
            <div class="col-sm-4">
               <span class="glyphicon glyphicon-wrench group-icon"></span>
               <h3>Robotics</h3>
               <p>Yadda yadda yadda yadda Yadda yadda yadda yadda Yadda yadda yadda yadda Yadda yadda yadda yadda</p>
            </div>
         </div>
      </div>
      <script type="text/babel" src="js/templates.js"></script>
   </body>
</html>
