<template name="about">
	<div id="about">
	    <div id="content"></div>
		  <div class="content-fluid" id="members">
		    <h1 class="text-center">About</h1>

		    <div class="row" style="padding-top: 60px">
			    <div class="col-md-6">
					    <h3>General Description</h3>
					    <p>ACM UNO is the University of New Orleans branch of the Association for Computing Machinery. The purpose of the ACM is to engage students in an extracurricular environment where they will further develop their abilities in the field of computer science. Being a member of the Association of Computing Machinery takes knowledge learned in the regular curriculum and applies it to real world scenarios. The experiences in the Association of Computing Machinery will prepare students with the versatility and expertise necessary to be successful in life after college.</p>
				        <p>
				          Throughout the semester, the ACM will have general meetings in which faculty members and companies from the New Orleans area which come and discuss different technologies and opportunities for our members. Also, each Special Interest Group will have weekly workshops in which the members can meet and learn useful technologies and create projects outside the regular university curriculum.
				        </p>
				        <h3>Cabinet Members</h3>
				    	<p>President - Gabriel Roa</p>
				    	<p>Vice President - Garrick Ranck</p>
				    	<p>Treasurer - Emmanuel Tourniare</p>
				    	<p>Secretary - Aileen Do</p>
				    	<p>Professional Chair - Sanjiv Pradhanag</p>
				    	<p>Social Chair - Michael Kelly</p>
			        <h3> Meetings</h3>
			        <p>General Meeting - Wednesdays from 1PM to 2PM (Biweekly)</p>
			        	Contact: acm@cs.uno.edu /
			        	President: geroa@uno.edu
		        	</div>
		       
		    	<div class="col-md-5">
		    		<img class="img-responsive center-block" src="img/acmchapterlogo.png">
		    	</div>
		    	</div>
		    	
	        <div class="row">
	        <div class="col-md-6 col-md-offset-6">
			   
	        </div>
	        </div>
		  </div>
	</div>
</template>