<template name="contact">
	<div id="members" class="container-fluid">
		<h1 style="font-weight:bold;text-decoration:underline;color:#00003a;">Contact ACM@UNO</h1>
		<div class="picRight"><img src="img/mathbuilding.jpg" style="width:454px;height:351px"/></div>
		<h3>Mailing Address</h3>
		<p><strong>UNO ACM</strong></p>
		<p>Mathematics Building, Room 346</p>
		<p>The University of New Orleans</p>
		<p>2000 Lakeshore Drive</p>
		<p>New Orleans, LA</p><hr>
		<h3>Phone</h3>
		<p></p><hr>
		<h3>Fax</h3>
		<p></p><hr>
		<h3>Email</h3>
		<p><ins>acm@cs.uno.edu</ins></p>	
	</div>
</template>
