<template name="intern">
	<div id="content"></div>
	<div class="content-fluid text-center" id="intern">
		<p>derp</p>
		<h1>Internships and Job Opportunities</h1>
	</div>
	<div class="container text-center">
			<p>(Placeholder explaining page objectives, etc)</p>
	</div>
	<div class="container-fluid text-center" id="job_opp">
		<h2>Internships</h2>
			<p>(Print all internships currently held in collection)</p>
	</div>
	<div class="container_fluid text-center" id="job_opp">
		<h2>Job Opportunities</h2>
			<p>(Print all job opportunities currently held in collection)</p>
	</div>
</template>
