<template name="intern">
	<div class="jumbotron-text">
		<h1>Internships and Job Opportunities</h1>
	</div>
	<div class="container">
		<div class="row">
			<h2>(Placeholder explaining page objectives, etc)</h2>
			<p></p>
		</div>
	</div>
	<div class="container-fluid text-center" id="job_opp">
		<h2>Internships</h2>
			<p>(Print all internships currently held in collection)</p>
	</div>
	<div class="container_fluid text-center" id="job_opp">
		<h2>Job Opportunities</h2>
			<p>(Print all job opportunities currently held in collection)</p>
	
	</div>

</template>
