<template name="spgrp">
	<div id="members" class="container-fluid">
		<h1 style="font-weight:bold;text-decoration:underline;color:#00003a;">Special Interest Groups</h1><br>
		<p class="grps">UNO Association for Computing Machinery</p><hr>
		<div class="picRight"><img src="img/acm.png" /></div>
		<p class="grdes">The UNO ACM students chapter plans to involve students in various social and educational events. The UNO ACM looks forward to creating teams of students for the Intertnational Collegiate Programming Competition 2016 and conduct weekly study nights also referred as "Hack Nights" in order to encourage programming practice. Also, UNO ACM may conduct bi-weekly workshops on using various software and learning more applications of programming that are not availed through the classes on campus.<br> Current cabinet for UNO ACM: <br>
		<ul>
			<li><b>President:</b> Gabriel Roa <ins>geroa@uno.edu</ins></li>
			<li><b>Vice President:</b> Garrick Ranck <ins>granck@uno.edu</ins></li>
			<li><b>Secretary:</b> Aileen Do <ins>ado@uno.edu</ins></li>
			<li><b>Treasurer:</b> Emmanuel Tourniaire <ins>etournia@uno.edu</ins></li>
			<li><b>Social Chair:</b> Michael Kelly <ins>mpkelly1@uno.edu</ins></li>
			<li><b>Professional Chair:</b> Sanjiv Pradhanang <ins>spradha1@uno.edu</ins></li>
		</ul>
		</p>
		<p class="grps">International Game Developers Association</p><hr>
		<div class="picRight"><img src="img/igda.jpeg" height="130px" width="280px" /></div>
		<p class="grdes">The IGDA is the premier professional organization for game developers throughout the world. The IGDA is a non-profit organization with many individual chapters that serve geographical regions and special interest groups dedicated to specific topics in game development.UNO has chartered a student chapter of the IGDA to provide access to IGDA membership benefits for students interested in game development. Students need not be registered members of the IGDA to attend chapter meetings.<br>Questions or comments about IGDA activities should be address to igda@uno.edu.</p>
		<p class="grps">UNO Web Dev Organisation</p><hr>
		<p class="grdes">The Web Developer's club is a special interest group affiliated with the ACM. We focus on learning and using common technologies used to build web applications. We are interested in building cool software projects that can run within a browser. We are project-oriented and focus on building webs applications using HTML, CSS, and Javascript via a MEAN web stack (MongoDB, Express, Angular, Node). No experience necessary, you will learn by doing!</p>
		<p class="grps">UNO Robotics Club</p><hr>
		<p class="grdes">The purpose of the UNO Robotics club is to provide an academic as well as social organization encouraging knowledge of all aspects of the field of robotics and also serving as a community of interest and activity for its members. Membership is open to all students and faculty. The club has been successful to create teams of students to compete in the annual IEEE Robotics competition for the past few years and allowed them to exhibit the robots on campus and on other seminars.</p>
		<p class="grps">ACM Womens Chapter</p><hr>
		<p class="grdes">The women's chapter aims to provide a professional, academic and social organization in support of women interested in information and technology. Additionally, to serve as a community for our members. Membership is open to all faculty and female students.</p>
	</div>
</template>
